<h1 class="text-center">My tasks</h1>
<div class="text-center">
<% @tasks.each do |task| %>
    <ul class="list-group list-group-flush">
        <% if task[:completed] == false  %>
        <li class="list-group-item m-3"><i class="far fa-square"></i> <%=  link_to task.title, task %><%= link_to delete_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash"></i>
        <% end %>
        </li>
        <% else %>
        <li class="list-group-item m-3"><i class="far fa-check-square"></i> <%= link_to task.title, task %> <%= link_to delete_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash"></i>
        <% end %>
        </li>
        <% end %>
    </ul>
<% end %>
<%= link_to "new task ?",  tasks_new_path, class: "btn btn-primary m-5"%>
</div>

